<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>FCast</title>
		<meta name="description" content="FCast Home Page">
		<meta name="author" content="FCast">
	</head>
	<body>
		<h2>This page is under contruction! Any data uploaded will be immediately deleted!</h2>
		<form action="/upload" method="post" enctype="multipart/form-data">
			<div>
				<label for="file_names">
					Choose a file to upload (only PDF files for now):
				</label>
				<input type="file"
	               		       id="file_input"
		                       name="file_names"
                           accept=".pdf"
		                       multiple>
			</div>
			<div>
				<button>Submit</button>
			</div>
	</body>
</html>

